{% trans_default_domain 'Redirect' %}
{% extends 'FunstaffRedirectBundle::layout.html.twig' %}
{% block title %}{{ 'page.title.index'|trans }}{% endblock %}
{% block funstaff_redirect_block %}
<h1>{{ 'page.title.index'|trans }}</h1>
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <thead>
        <tr>
            <td>{{ 'field.source'|trans }}</td>
            <td>{{ 'field.destination'|trans }}</td>
            <td>{{ 'field.statusCode'|trans }}</td>
            <td>{{ 'field.lastAccessed'|trans }}</td>
            <td>{{ 'field.statCount'|trans }}</td>
            <td>{{ 'field.enabled'|trans }}</td>
        </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            <td><a href="{{ path('funstaff_redirect_edit', {'id': record.id })}}"><i class="uk-icon-edit"></i> {{ record.source }}</a></td>
            <td>{{ record.destination }}</td>
            <td>{{ record.statusCode }}</td>
            <td>{{ record.lastAccessed|date }}</td>
            <td>{{ record.statCount }}</td>
            <td>
                {% if record.enabled %}
                <i class="uk-icon-check"></i>
                {% else %}
                &nbsp;
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="uk-button" href="{{ path('funstaff_redirect_add') }}">{{ 'form.button.new'|trans }}</a>
{% endblock %}